Package: emt.paisseon.chocola
Name: Chocola
Author: Paisseon
Maintainer: Paisseon
Description: Lightweight video wallpapers
Version: 0.2b
Depends:  ${ORION}, firmware (>= 12.2), ws.hbang.common (>= 1.17), com.mrgcgamer.libgcuniversal
Architecture: iphoneos-arm
Section: Tweaks
Icon: https://paisseon.github.io/icons/chocola.png
SileoDepiction: https://paisseon.github.io/depictions/chocola.json
Depiction: https://paisseon.github.io/depictions/ButNobodyCame.html
