<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
		
			<!-- header -->
		
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>condensed</key>
				<true/>
				<key>headerCellClass</key>
				<string>HBPackageNameHeaderCell</string>
				<key>packageNameOverride</key>
				<string>Chocola</string>
				<key>icon</key>
				<string>ic0n.png</string>
				<key>packageIdentifier</key>
				<string>emt.paisseon.chocola</string>
			</dict>
			
			<!-- basic feature toggles -->
			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>General</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>emt.paisseon.chocola.prefschanged</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>emt.paisseon.chocola</string>
				<key>key</key>
				<string>enabled</string>
				<key>label</key>
				<string>Enable</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>emt.paisseon.chocola.prefschanged</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>emt.paisseon.chocola</string>
				<key>key</key>
				<string>mute</string>
				<key>label</key>
				<string>Mute</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>emt.paisseon.chocola.prefschanged</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>emt.paisseon.chocola</string>
				<key>key</key>
				<string>lpmPause</string>
				<key>label</key>
				<string>Pause on LPM</string>
			</dict>
			
			<!-- shared wallpaper settings -->
			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Shared</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>emt.paisseon.chocola.prefschanged</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>emt.paisseon.chocola</string>
				<key>key</key>
				<string>sync</string>
				<key>label</key>
				<string>Enable Shared Wallpaper</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>emt.paisseon.chocola.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>GcImagePickerCell</string>
				<key>label</key>
				<string>Shared Video</string>
				<key>defaults</key>
				<string>emt.paisseon.chocola</string>
				<key>key</key>
				<string>customVideo</string>
				<key>usesPhotos</key>
				<false/>
				<key>usesVideos</key>
				<true/>
				<key>videoQuality</key>
				<integer>0</integer>
			</dict>
			
			<!-- lockscreen wallpaper settings -->
			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Lockscreen</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>emt.paisseon.chocola.prefschanged</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>emt.paisseon.chocola</string>
				<key>key</key>
				<string>lockscreen</string>
				<key>label</key>
				<string>Enable Lockscreen</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>emt.paisseon.chocola.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>GcImagePickerCell</string>
				<key>label</key>
				<string>Lockscreen Video</string>
				<key>defaults</key>
				<string>emt.paisseon.chocola</string>
				<key>key</key>
				<string>lsVideo</string>
				<key>usesPhotos</key>
				<false/>
				<key>usesVideos</key>
				<true/>
				<key>videoQuality</key>
				<integer>0</integer>
			</dict>
			
			<!-- homescreen wallpaper settings -->
			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Homescreen</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>emt.paisseon.chocola.prefschanged</string>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>emt.paisseon.chocola</string>
				<key>key</key>
				<string>homescreen</string>
				<key>label</key>
				<string>Enable Homescreen</string>
			</dict>
			<dict>
				<key>PostNotification</key>
				<string>emt.paisseon.chocola.prefschanged</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>GcImagePickerCell</string>
				<key>label</key>
				<string>Homescreen Video</string>
				<key>defaults</key>
				<string>emt.paisseon.chocola</string>
				<key>key</key>
				<string>hsVideo</string>
				<key>usesPhotos</key>
				<false/>
				<key>usesVideos</key>
				<true/>
				<key>videoQuality</key>
				<integer>0</integer>
			</dict>
			
			<!-- links to my stuff -->
			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Links</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>iconURL</key>
				<string>https://avatars.githubusercontent.com/u/68789766</string>
				<key>label</key>
				<string>Source Code</string>
				<key>subtitle</key>
				<string>View on GitHub</string>
				<key>url</key>
				<string>https://github.com/paisseon/chocola</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>iconURL</key>
				<string>https://cdn.discordapp.com/icons/869579480375623720/a_0661a099789abaa5df7d2a18962a5d06.jpg</string>
				<key>label</key>
				<string>Join CyPwn</string>
				<key>subtitle</key>
				<string>The best jailbreak Discord server</string>
				<key>url</key>
				<string>https://discord.gg/cZ2gBRZvwW</string>
			</dict>
			
			<!-- in my hand is a pen that will write a poem of me and you -->
			
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>
	Do you know wherein lies the sin?
	It wasn't in the partaking of the fruit of the tree.
	
	Do you know wherein lies the sin?
	It wasn't in lending an ear to the serpent's enticements.
	
	Do you still not know wherein lies the sin?
	Therein lies your sin.</string>
			</dict>
			
		</array>
		<key>title</key>
		<string>Chocola</string>
	</dict>
</plist>